<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
   <!-- build:css css/tidy.css -->
	<link rel="stylesheet" href="assets/css/style.css">
  <!-- /build -->
</head>
<!-- 
  *** inline styles are used on the images to help style the alt tags
  *** for when images are missing
-->
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>

          <!-- add the messages to view on the web and to add address -->
          <table class="row">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="nine sub-columns last" style="text-align:left;background: #081a33;">
                              <span class="template-label">Add <a href="mailto:%%replyemailaddress%%" style="text-decoration:none;">%%replyemailaddress%%</a> to your address book.</span>
                            </td>
                            <td class="three sub-columns last" style="text-align:right;background: #081a33;">
                              <span class="template-label"><a href="%%view_email_url%%" style="text-decoration:none;">View Web Version</a></span>
                            </td>
                            
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td>

                <!-- content start -->
                <table class="row" style="background-color: #061932">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td style="background-color: #061932">
                            <img width="130" height="42" src="http://placehold.it/130x42" alt="[company name]" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 21px;color: #c6cbd0;line-height: 24px;text-align:center;width: 130px;height: 42px;" />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td style="padding: 0 15px;">
                
                <!-- introduction -->
                <table class="row">
                  <tr>
                    <!-- introduction -->
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td class="content">
                            <p class="lead" style="margin-bottom: 10px;">Dear [Customer Name],</p>
                            <p>We're pleased to confirm that your order for a more stylish sleep is now on its way.</p>
                            <p>Your items from order #9999 that have shipped include:</p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!-- order items table -->
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns order-details">
                       
                        
                        <tr>
                          <td class="left heading first six sub-columns">item</td>
                          <td class="center heading three sub-columns">quantity</td>
                          <td class="right heading last three sub-columns">price</td>
                        </tr>
                        
                        <!-- add in the products -->
                        <tr>
                          <td class="wrapper last" colspan="3">
                            <table class="product-details twelve columns">
                              <tr>

                                <td class="product-info">
                                  
                                  <table class="product-detail">
                                    <tr>
                                      <td><img class="product-image left" width="50" height="67" src="http://placehold.it/50x67" alt="Item Title 1" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #c6cbd0;line-height: 18px;text-align:center;width: 50px;height: 67px;" /></td>
                                      <td>
                                        <table>
                                          <tr><td class="product-title" colspan="3">[Item Title]</td></tr>
                                          <tr><td class="product-size">xs</td><td class="product-spacer">|</td><td class="product-color">pink</td></tr>
                                        </table>
                                      </td>
                                     </tr> 
                                  </table>
                                </td>
                                <td class="product-quantity center">1</td>
                                <td class="product-price right">$395</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td class="wrapper last" colspan="3">
                            <table class="product-details twelve columns">
                              <tr>

                                <td class="product-info">
                                  
                                  <table class="product-detail">
                                    <tr>
                                      <td><img class="product-image left" width="50" height="67" src="http://placehold.it/50x67" alt="Item Title 1" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #c6cbd0;line-height: 18px;text-align:center;width: 50px;height: 67px;" /></td>
                                      <td>
                                        <table>
                                          <tr><td class="product-title" colspan="3">[Item Title]</td></tr>
                                          <tr><td class="product-size">xs</td><td class="product-spacer">|</td><td class="product-color">pink</td></tr>
                                        </table>
                                      </td>
                                     </tr> 
                                  </table>
                                </td>
                                <td class="product-quantity center">1</td>
                                <td class="product-price right">$395</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td class="wrapper last" colspan="3">
                            <table class="product-details twelve columns">
                              <tr>

                                <td class="product-info">
                                  
                                  <table class="product-detail">
                                    <tr>
                                      <td><img class="product-image left" width="50" height="67" src="http://placehold.it/50x67" alt="Item Title 1" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #c6cbd0;line-height: 18px;text-align:center;width: 50px;height: 67px;" /></td>
                                      <td>
                                        <table>
                                          <tr><td class="product-title" colspan="3">[Item Title]</td></tr>
                                          <tr><td class="product-size">xs</td><td class="product-spacer">|</td><td class="product-color">pink</td></tr>
                                        </table>
                                      </td>
                                     </tr> 
                                  </table>
                                </td>
                                <td class="product-quantity center">1</td>
                                <td class="product-price right">$395</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                      </table><!-- end or order-details -->
                    </td>
                  </tr>
                </table>
                <!-- order items table -->

                <table class="padder">
                  <tr>
                    <td style="padding: 20px 0">
                    </td>
                  </tr>
                </table>

                <!-- start the shipping and order pricing -->
                <table class="row order-ship">
                  <tr>
                    <td class="wrapper">

                      <table class="seven columns shipping">
                        <tr>
                          <td class="header">
                            <h3>your items are being shipped</h3>
                            <h3>via ups to:</h3>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="address">
                              <tr><td class="name">Ashley Smith</td></tr>
                              <tr><td class="street">123 Any St</td></tr>
                              <tr><td class="city">Any City, CA 55555</td></tr>
                              <tr><td class="country">United States of America</td></tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p style="margin-bottom: 20px;">We'll send you a confirmation email when remaining items from your order ship.</p>
                        </tr>
                        <tr>
                          <td class="thanks" style="padding-bottom: 20px;">
                            <p>Thank You!<br />
                              <strong>The [company name] team</strong>
                            </p>
                          </td>
                        </tr>
                      </table><!-- end of the eight columns-->
                    </td>
                    <td class="wrapper last">
                      <table class="five columns pricing-total">
                        <tr>
                          <td>
                            <h3>track your order:</h3>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="#" class="button" style="display:block">1Z5F44813600X02768</a>
                          </td>
                        </tr>
                        
                      </table>

                    </td>
                  </tr>
                </table>
                <!-- end of the shipping and order pricing -->
                
                <!-- navigation -->
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns navigation">
                        <tr>
                          <td class="content" colspan="4" align="center">
                            <p class="center" style="width: 224px;height: 28px;margin: 0 auto"><a href="#" style="display:block"><img width="224" height="28" src="http://placehold.it/224/28" alt="click here to view the collection" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 15px;color: #0a1f3b;line-height: 18px;text-align:center;width: 224px;height: 28px;float: none" /></a></p>
                          </td>
                        </tr>
                        <tr>
                          <td class="nav">
                            
                                <a href="#ordering">
                                  <img width="152" height="23" src="http://placehold.it/152x23" alt="ordering and policies" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #0a1f3b;line-height: 18px;text-align:center;width: 152px;height: 23px;display:inline-block" />
                                </a>
                          </td>

                          <td class="nav">
                                <a href="#contact">
                                  <img width="62" height="23" src="http://placehold.it/62x23" alt="contact" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #0a1f3b;line-height: 18px;text-align:center;width: 62px;height: 23px;display:inline-block" />
                                </a>
                          </td>

                          <td class="nav">
                                <a href="#store">
                                  <img width="94" height="23" src="http://placehold.it/94x23" alt="find in store" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #0a1f3b;line-height: 18px;text-align:center;width: 94px;height: 23px;display:inline-block" />
                                </a>
                          </td>

                          <td class="nav">
                                <a href="#connect">
                                  <img width="64" height="23" src="http://placehold.it/64x23" alt="connect" style="font-family: 'Helvetica', Arial;sans-serif;font-size: 14px;color: #0a1f3b;line-height: 18px;text-align:center;width: 64px;height: 23px;display:inline-block" />
                                </a>
                              
                          </td>
                        </tr>

                      </table>
                    </td>
                  </tr>
                </table>


              <!-- container end below -->
              </td>
            </tr>
          </table>


          <!-- Legal + Unsubscribe -->
              
              <table class="row footer">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                          <center>
                            <p class="center">If you have any questions, please <a href="#">email</a> or call Customer Service at 1-800-555-5555.</p>
                          </center>
                        </td>
                            
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>


        </center>
			</td>
		</tr>
	</table>
  <!-- needed for exact target tracking -->
  <custom name="opencounter" type="tracking">
</body>
</html>